body {
  background-color: black;
  color: #ddd;
  font-family: monospace;
  font-size: 1.5em;
}

a, a:visited {
  color: #b7b7b7;
  text-decoration: none;
}

a:hover {
  color: white;
}

a img:hover {
  filter: brightness(0.7);
}

header {
  margin-top: 0.5em;
  margin-bottom: 1em;
}

details {
  margin-bottom: 1em;
}

summary {
  cursor: pointer;
}

#filters {
  margin-bottom: 1em;
}

#search {
  float: right;
  margin-bottom: 10px;
}

#tagFilters {
  display: flex;
  flex-wrap: wrap;
}

#tagFilters [type="checkbox"] {
  display: none;
}

#tagFilters label {
  cursor: pointer;
  margin: 6px;
  padding: 0.3em;
  border: 1px solid white;
}

#tagFilters input:checked + label {
  background-color: #ddd;
  color: black;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr, td, th {
  border: 1px solid #222;
  padding: 0.5em;
}

table .desc {
  font-size: 0.8em;
  color: #999;
}

table .tags {
  float: right;
  font-size: 0.8em;
}

table .tags span {
  border: 1px solid #3339;
  display: inline-block;
  margin: 0 5px;
  padding: 3px;
}

@media only screen and (max-width: 700px) {
  #filters > div > * {
    display: initial;
  }

  table span.tags {
    display: none;
  }
}
