body {
  background-color: black;
  color: #ddd;
  font-family: monospace;
  font-size: 1.5em;
  overflow-y: scroll;
}

a, a:visited {
  color: #b7b7b7;
  text-decoration: none;
}

a:hover {
  color: white;
}

#search {
  float: right;
  margin: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr, td, th {
  border: 1px solid #222;
  padding: 0.5em;
}

table .desc {
  font-size: 0.8em;
  color: #999;
  float: right;
}
