body {
  background-color: black;
  color: #ddd;
  font-family: monospace;
  font-size: 1.5em;
  max-width: 900px;
  margin: 10px auto;
}

a, a:visited {
  color: #b7b7b7;
  text-decoration: none;
}

a:hover {
  color: white;
}

header h1 {
  font-size: inherit;
  text-align: center;
}

#search {
  background: #111;
  border-color: #4444;
  color: white;
  float: right;
  margin: 0 3px;
}

main {
  width: 100%;
}

main > div {
  padding: 0.7em;
}

main .desc {
  font-size: 0.8em;
  color: #999;
}
